body{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px; /* <-- Aquí cambias el tamaño */
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #A5D6A7;
  color: white;
}

/*social media*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
  background-color: #A5D6A7;
  color: white;
}


footer p {
  margin: 0;
  flex: 1;
  text-align: left;
}

.social-links {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: flex-end;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}
